.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
input{
	color:#fff
}
.cktm {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    font-family: Comic sans-serif;
    margin-top: 4%;
}