<app-navbar></app-navbar>
<!--Main Layout-->
<main class="text-center py-5 mainComponent">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

				<!--Table-->
				<table class="table">

				    <!--Table head-->
				    <thead class="mdb-color darken-3">
				        <tr class="text-white">
				            <th>#</th>
				            <th>First Name</th>
				            <th>Last Name</th>
				            <th>Username</th>
				        </tr>
				    </thead>
				    <!--Table head-->

				    <!--Table body-->
				    <tbody *ngIf="isData == 0">
				    	<tr>
				    		<td colspan="8">Loading...</td>
				    	</tr>
				    </tbody>
				    <tbody *ngIf="isData == 1">
				    	<tr>
				    		<td colspan="8">No portfolio results found.</td>
				    	</tr>
				    </tbody>
				    <tbody *ngIf="isData == 2">
				        <tr *ngFor="let p of portFolio">
				            <th scope="row">{{1}}</th>
				            <td>Mark</td>
				            <td>Otto</td>
				            <td>@mdo</td>
				        </tr>
				    </tbody>
				    <!--Table body-->
				</table>
				<!--Table-->

            </div>
        </div>
    </div>

</main>
<!--Main Layout-->