<app-navbar></app-navbar>
<!--Main Layout-->
<main class="text-center py-5 mainComponent">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

				<h2>Exchange Details</h2>
				<div class="row graphQL">
					<div class="col-md-8">
						<!-- <canvas baseChart width="400" height="250"
						[datasets]="lineChartData"
						[labels]="lineChartLabels"
						[options]="lineChartOptions"
						[colors]="lineChartColors"
						[legend]="lineChartLegend"
						[chartType]="lineChartType"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)"></canvas> -->
		
							<canvas baseChart
										[data]="doughnutChartData"
										[labels]="doughnutChartLabels"
										[chartType]="doughnutChartType"
										(chartHover)="chartHovered($event)"
										(chartClick)="chartClicked($event)"></canvas>
						 
					</div>
					<div class="col-md-4">
						<h4>Used Exchanges</h4>
						<ol class="olgraph">
							<li *ngFor="let e of exchanges">{{e.excId}}</li>
						</ol>
					</div>
				</div>
				<!--Table-->
				<table class="table">

				    <!--Table head-->
				    <thead class="mdb-color darken-3">
				        <tr class="text-white">
				            <th>#</th>
				            <th>Exchange Name</th>
				            <th>Exchange Type</th>
				            <th>Trade Type</th>
				            <th>Current Value</th>
				            <th>Trade Amount</th>
				            <th>Date</th>
				            <th>Tx ID</th>
				        </tr>
				    </thead>
				    <!--Table head-->

					<!--Table body-->
					<tbody *ngIf="isData == 0">
						<tr>
							<td colspan="8">Loading...</td>
						</tr>
					</tbody>
					<tbody *ngIf="isData == 1">
						<tr>
							<td colspan="8">No details found.</td>
						</tr>
					</tbody>
				    <tbody *ngIf="isData == 2">
				        <tr *ngFor="let i of markets">
				            <th scope="row">{{i.rowid}}</th>
				            <td>{{i.excId}}</td>
				            <td>{{i.cryptType}}</td>
				            <td>{{i.type}}</td>
				            <td>{{i.amount}}</td>
				            <td>{{i.atPrice}}</td>
				            <td>{{i.humantimestamp}}</td>
				            <td>{{i.txId}}</td>
				        </tr>
				    </tbody>
				    <!--Table body-->
				</table>
				<!--Table-->
				
            </div>
        </div>
    </div>

</main>
<!--Main Layout-->